.faqSection {
    padding: 80px 0;
    background: var(--background);
    color: var(--text);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
    background: linear-gradient(91.53deg, #9747FF 0%, #4f99ff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-family: 'Bruno Ace SC', serif;
}

.faqContainer {
    max-width: 1000px;
    margin: 0 auto;
}

.faqItem {
    margin-bottom: 16px;
    background: black;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #FFFFFF1A;
}

.question {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    /* font-family: "Poppins", sans-serif; */
    text-align: left;
    cursor: pointer;
    transition: all 0.3s ease;
}

.question:hover {
    background: rgba(255, 255, 255, 0.1);
}

.question.active {
    background: black;
    color: rgba(220, 31, 255, 1);
}

.icon {
    display: inline-block;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
}

.answer {
    padding: 0 20px 20px;
    color: var(--text-secondary);
    line-height: 1.6;
    overflow: hidden;
    font-size: 14px;
    background: black;
    /* font-family: "Poppins", sans-serif; */
}

@media (max-width: 768px) {
    .faqSection {
        padding: 40px 0;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .question {
        font-size: 1rem;
        padding: 15px;
    }

    .answer {
        padding: 0 15px 15px;
    }
}

.FaqFlite {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}

.FaqFlite img {
    position: absolute;
    top: -200px;
    right: 0;
    margin-right: 20px;
}
@media (max-width: 768px) {
    .FaqFlite img {
        position: static;
    }
}