@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bruno Ace SC";
  src: url("../components/Fonts/Bruno_Ace_SC/BrunoAceSC-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../components/Fonts/Poppins/Poppins-Regular.ttf");
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --primary-gradient: linear-gradient(90deg, #c766ef, #7928d2 51.04%, #2b0c52);
  --primary-gradient-light: linear-gradient(90deg, rgba(199, 102, 239, 0.1), rgba(121, 40, 210, 0.1) 51.04%, rgba(43, 12, 82, 0.1));
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb)));
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.hero-section {
  background: url('/assets/hero_bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.purple-blur {
  position: absolute;
  border-radius: 50%;
  filter: blur(100px);
  z-index: -2;
}

.purple-blur-1 {
  background: rgba(120, 58, 234, 0.3);
  width: 300px;
  height: 300px;
  top: -100px;
  left: -100px;
}

/* .purple-blur-2 {
  background: rgba(93, 63, 211, 0.4);
  width: 400px;
  height: 400px;
  bottom: -150px;
  right: -100px;
} */
.GradientText {
  background: linear-gradient(91.66deg, #9747FF 31.42%, #4F99FF 75.21%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: 'Bruno Ace SC', serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 53.06px;
  letter-spacing: 0%;
  text-align: center;
}

.CommonText {
  font-family: 'Bruno Ace SC', serif;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s linear infinite;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 20s linear infinite;
}

.ticker-container:hover .animate-ticker {
  animation-play-state: paused;
}

/* Add these button styles */
.gradient-button {
  background: var(--primary-gradient);
  color: white;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.gradient-text {
  background: linear-gradient(91.53deg, #9747FF 0%, #4f99ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  /* Adjust this value based on your header height */
}

.gallery-swiper .swiper-button-next,
.gallery-swiper .swiper-button-prev {
  color: white;
}

.gallery-swiper .swiper-pagination-bullet {
  background: white;
}

.gallery-swiper .swiper-pagination-bullet-active {
  background: #3b82f6;
}

.PartnerTitle {
  position: relative;
  top: 250px;
}

@media (max-width: 768px) {
  .PartnerTitle {
    position: static;
    top: 0;
  }
  .hero-section {
    background: url('/assets/hero_bg2.png');
  }
  .PartnerImage {
    display: none;
  }
}
::selection {
  color: white;
  background: #9747FF;
}

/* For Firefox */
::-moz-selection {
  color: white;
  background: #9747FF;
}